---
import BaseLayout from '../layouts/BaseLayout.astro';
import heroImage from '../assets/ina.JPEG';

const pageTitle = "Juana Aguilar Galang";
---

<BaseLayout pageTitle={pageTitle} heroImage={heroImage} heroImageAlt="Juana Aguilar Galang">
	<p>(August 21, 1926 - June 14, 2016)</p>
	<p>
		Juana, more well known as "Ka Aning" in barangay San Juan, Hagonoy, Bulacan, was a dutiful
		and devoted wife of 61 years to "Ka Tonio". She was a loving, selfless and proud "Ina" to
		her 9 children, and an inspirational "Inang Aning" to her 22 grandchildren.
	</p>
	<p>
		Ina was a woman of great faith. She never missed her novena prayers and never missed attending
		daily mass even when she eventually had to use a wheelchair going to church.
	</p>
	<p>
		Ina was a resourceful and resilient mother. With very limited means, it's almost a mystery how
		she was able to serve all her children 3 meals a day. No one went to school hungry, and no one
		went to bed hungry.
	</p>
	<p>
		Ka Aning was a generous neighbor. With whatever means possible, she was able to provide a
		helping hand to those in need.
	</p>
	<p>
		Ina was a product of her time. She stopped schooling at the age of 12, after finishing primary
		school. She was a full-time housewife and homemaker her entire life.
	</p>
	<p>
		Ina left a legacy of selflessness, resilience, sacrifice, love, faith, and devotion. In her
		most humble way, she made everything possible for her children.
	</p>
	<p>In honor of her humble service, we establish the Juana Aguilar Galang Scholarship Foundation.</p>
</BaseLayout>