---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About Our Team";
---

<BaseLayout pageTitle={pageTitle}>
	<h2>Mentoring Program</h2>
	<p>
		To ease the transition to college and post-college career, scholars and alumni will be
		provided various levels of mentoring support.
	</p>
	<ul>
		<li>Individual mentor-scholar relationships</li>
		<li>Peer mentoring cohorts</li>
		<li>Workshops and career development events</li>
	</ul>
	<p>
		The foundation will aim to form a cohort of mentors, with knowledge of college life,
		work experience, and network of contacts. Mentors will provide guidance in several ways:
	</p>
	<ul>
		<li>
			Help scholars adjust to a new environment, answering questions, and providing
			advice where needed
		</li>
		<li>Offer practical input, assisting with internship search and resumé building</li>
		<li>Monthly check-ins with their mentee during key times throughout the school year</li>
		<li>Represent an outside source of advice at moments when students need it most</li>
	</ul>
</BaseLayout>