---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Donate";
---

<BaseLayout pageTitle={pageTitle}>
	<div>
		<p>If you would like to make a donation, please contact us by email.</p>
		<p><a href="/">jagsf2025@gmail.com</a></p>
	</div>

	<div>
		<h2>Thank you to our sponsors for AY 2025-2026!</h2>
		<ul>
			<li>Malou Ranis of Pinole, CA, USA</li>
			<li>Jeff & Sharon Krietemeyer of Cincinnati, OH, USA</li>
			<li>Ben Montezinos of Cincinnati, OH, USA</li>
			<li>Myki Cantero of Silang, Cavite, Philippines</li>
		</ul>
	</div>
</BaseLayout>