---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Donate";
---

<BaseLayout pageTitle={pageTitle}>
	<div>
		<p>If you would like to make a donation, please contact us by email.</p>
		<p><a href="/">[Enter email here]</a></p>
	</div>

	<div>
		<h2>Thank you to our sponsors for AY 2025-2026!</h2>
		<ul>
			<li>Person 1</li>
			<li>Person 2</li>
		</ul>
	</div>
</BaseLayout>