---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Frequently Asked Questions";
---

<BaseLayout pageTitle={pageTitle}>
	<ol>
		<li>
			How do I renew a student's scholarship?
			<ul>
				<li>
					Current scholars will automatically be considered for scholarship renewal each
					semester as long as they meet the eligibility requirements.
				</li>
			</ul>
			<i>See <a href="/scholarship-renewal">Scholarship Renewal</a></i>
		</li>

		<li>
			Who can apply?
			<ul>
				<li>
					Full-time college students pursuing a degree in any of the following fields:
					<ul>
						<li>Information Systems and Technology</li>
						<li>Communications Technology</li>
						<li>Engineering</li>
						<li>Sciences</li>
						<li>Education</li>
					</ul>
				</li>
				<li>
					Priority consideration will be given to incoming freshmen but college students
					entering 2nd year and 3rd year will also be considered.
				</li>
				<li>
					Priority consideration will be given to students residing in the town of Hagonoy,
					but all Bulacan residents will be considered.
				</li>
			</ul>
			<i>See <a href="/how-to-apply/">How To Apply</a></i>
		</li>

		<li>
			Can current college students apply?
			<ul>
				<li>Yes. Students entering their 2nd or 3rd year are eligible to apply.</li>
			</ul>
		</li>

		<li>
			Do I have to live in Hagonoy to apply?
			<ul>
				<li>
					Priority consideration is given to students residing in Hagonoy. However, all
					Bulacan residents will be considered.
				</li>
			</ul>
		</li>

		<li>
			Which colleges under BULSU are you accepting students from?
			<ul>
				<li>
					We are accepting students from the following colleges:
					<ul>
						<li>College of Information and Communications Technology (CICT)</li>
						<li>College of Engineering (COE)</li>
						<li>College of Science (CS)</li>
						<li>College of Education (COED)</li>
					</ul>
				</li>
			</ul>
		</li>

		<li>
			Which BULSU campuses are eligible?
			<ul>
				<li>
					All BULSU campuses are eligible, but priority consideration will be given to
					students from the Hagonoy and Malolos campuses.
				</li>
			</ul>
		</li>

		<li>
			How much is the scholarship award?
			<ul>
				<li>
					Scholarship amounting to Php 18,000 will be awarded to successful applicants per
					semester, equivalent to Php 1,000 per week stipend in an 18-week semester.
				</li>
				<li>
					Scholarships will be awarded and renewed on a semestral basis and will be distributed
					in equal biweekly payments.
				</li>
			</ul>
		</li>

		<li>
			What financial documents are accepted?
			<ul>
				<li>
					Examples include:
					<ul>
						<li>Income Tax Return (ITR) for previous year</li>
						<li>Certificate compensation for previous year</li>
						<li>Certificate of indigency issued by barangay, DSWD, or other government agency</li>
					</ul>
				</li>
			</ul>
		</li>

		<li>
			What are the service hour requirements?
			<ul>
				<li>
					At least 30 hours of school and/or community service per semester or complete
					equivalent school or community project. School or community service initiatives must be
					approved by the BSU Scholarship and Financial Assistance office and the Scholarship
					Foundation. Completion of service must be duly certified by BSU Scholarship and Financial
					assistance office and/or affiliated community contact.
				</li>
			</ul>
			<i>See <a href="/service-hours/">Service Hours</a></i>
		</li>
	</ol>
</BaseLayout>