---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "How To Apply";
---

<BaseLayout pageTitle={pageTitle}>
	<h2>Application Timeline (AY 2025-2026)</h2>
	<ul>
		<li>July 28 - August 8: Scholarship application window</li>
		<li>July 28: Notification for interviews for short-listed applicants begins</li>
		<li>August 15: Notification of final awards</li>
	</ul>

	<h2>Eligibility</h2>
	<p>
		Students must be enrolled full time in the academic year, in pursuit of degrees in the
		following fields: Information Systems and Technology, Communications Technology,
		Engineering, Sciences, and Education.
	</p>
	<p>
		Priority consideration will be given to incoming freshmen but college students entering
		2nd year and 3rd year will also be considered.
	</p>
	<p>
		Priority consideration will be given to students residing in the town of Hagonoy, but
		all Bulacan residents will be considered.
	</p>

	<h2>Required Documents</h2>
	<p>The following needs to be submitted along with the scholarship application:</p>

	<h3>For Incoming Freshmen</h3>
	<ul>
		<li>High school transcript of records</li>
		<li>
			Two letters of endorsement from high school (from principal, guidance counselor, or
			teachers of subjects related to the course the applicants want to take, i.e. Math
			teachers for information systems and engineering students)
		</li>
		<li>
			Letter of endorsement from barangay captain, parish priest, or any local non-family
			elder who knows the family and the individual well
		</li>
		<li>Proof of residency</li>
		<li>
			Available financial records, e.g.
			<ul>
				<li>ITR or Certificate compensation for employed/self-employed parents for previous year</li>
				<li>Certificate of indigency issued by barangay, DSWD, or other government agency</li>
			</ul>
		</li>
	</ul>

	<h3>For Current College Students (Entering 2nd-3rd Year)</h3>
	<ul>
		<li>High school transcript of records</li>
		<li>College transcript of records</li>
		<li>Letter of endorsement from college dean</li>
		<li>
			Letter of endorsement from barangay captain, parish priest, or any local non-family
			elder who knows the family and the individual well
		</li>
		<li>Proof of residency</li>
		<li>
			Available financial records, e.g.
			<ul>
				<li>ITR or Certificate compensation for employed/self-employed parents for previous year</li>
				<li>Certificate of indigency issued by barangay, DSWD, or other government agency</li>
			</ul>
		</li>
	</ul>

	<h2>Selection Process</h2>
	<p>All applicants will be evaluated based on the following criteria:</p>
	<ul>
		<li>Academic performance</li>
		<li>Personal character</li>
		<li>Significant financial need</li>
		<li>Involvement in community service</li>
	</ul>
	<p>
		All applicants will go through stringent screening process, based on pertinent information
		gathered from the following:
	</p>
	<ul>
		<li>Scholarship application</li>
		<li>High school and/or college transcripts</li>
		<li>Letter of endorsements</li>
		<li>Interviews with applicant and applicant's parents</li>
		<li>Available financial records</li>
	</ul>
</BaseLayout>