---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Latest News";
---

<BaseLayout pageTitle={pageTitle}>
    <p>News and events will be posted here soon. Please check back later.</p>
</BaseLayout>