---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Scholarship Renewal";
---

<BaseLayout pageTitle={pageTitle}>
    Current scholars must meet the following criteria in order to renew scholarship eligibility
    for the succeeding semester:
    <ul>
        <li>GPA average of at least 2.25, with no failing grade in any subject.</li>
        <li>
            Served at least 30 hours of school and/or community service per semester or complete
            equivalent school or community project. School or community service initiatives must be
            approved by the BSU Scholarship and Financial Assistance office and the Scholarship
            Foundation. Completion of service must be duly certified by BSU Scholarship and Financial
            assistance office and/or affiliated community contact.
        </li>
        <li>Commit no violation of BSU student conduct policies.</li>
        <li>Submit periodic status reports (written and/or oral) as required by the Scholarship Foundation.</li>
        <li>Pass scholarship renewal assessment administered by the Scholarship Foundation.</li>
    </ul>
</BaseLayout>