---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Service Hours";
---

<BaseLayout pageTitle={pageTitle}>
    <p>
        Scholars are encouraged to serve their communities as part of their
        personal and leadership development. Community service reflects the
        values of generosity, resilience, and compassion that inspired the
        creation of this foundation.
    </p>

    <div>
        <h2>Service Hour Requirements</h2>
        <p>
            All scholars are required to complete <strong>at least 30 hours
            of school or community service per semester</strong> in order to
            remain eligibl for scholarship renewal.
        </p>
        <p>
            Service initiatives must be approved by both the <strong>BSU
            Scholarship and Financial Assistance Office</strong> and the
            <strong>Juana Aguilar Galang Scholarship Foundation</strong>.
        </p>
    </div>
</BaseLayout>