---
import { Image } from 'astro:assets';

const { title, date, articleImage, articleImageAlt } = Astro.props;
---

<div>
    <div class="article-img-wrapper">
        <Image src={articleImage} alt={articleImageAlt} class="article-img" />
    </div>
    
    <div class="article-text">
        <h3>{title}</h3>
        <p>{date}</p>
    </div>
</div>