---
---

<ul class="nav-list">
    <li><a href="/">Home</a></li>

    <li class="dropdown">
        <button class="dropdown-btn">About Us</button>
        <ul>
            <li><a href="/about-our-team/">Our Team</a></li>
            <li><a href="/about-juana/">Juana Aguilar Galang</a></li>
        </ul>
    </li>

    <li class="dropdown">
        <button class="dropdown-btn">For Students</button>
        <ul>
            <li><a href="/how-to-apply/">How To Apply</a></li>
            <li><a href="/service-hours/">Service Hours</a></li>
            <li><a href="/parents-involvement/">Parents' Involvement</a></li>
            <li><a href="/laptop-loaner-program/">Laptop Loaner Program</a></li>
            <li><a href="/scholarship-renewal/">Scholarship Renewal</a></li>
            <li><a href="/faq/">FAQ</a></li>
        </ul>
    </li>

    <li><a href="/contact/">Contact</a></li>
    <li><a href="/donate/">Donate</a></li>
</ul>